{% extends "layout/base.html" %}

{% block title %}Employer Dashboard | JobQuest{% endblock %}

{% block content %}
    <div class="container">
        <h2>All Jobs</h2>

        <div class="row">
            {% for job in jobs %}
            <div class="col-md-4 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5><b>{{ job.title }}</b></h5>
                        <p>{{ job.description|truncatechars:100 }}</p>
                        <div class="bg-body-secondary p-4">
                            <p><strong>Location:</strong> {{ job.location }}</p>
                            <p><strong>Salary:</strong> {{ job.salary }}</p>
                            <p><strong>Posted by:</strong> {{ job.employer.username }}</p>
                        
                        </div>
                        <div class="d-grid mt-2">
                            <a href="" class="btn btn-outline-primary block">View Details </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
       
    </div>
{% endblock %}